* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h3 {
  font-family: "Koulen", cursive;
}

p {
  font-family: "Koulen", cursive;
}

.head {
  padding: 200px 30px;
  background-color: rgb(241, 233, 222);
  text-align: center;
}

.main {
  max-width: 700px;
  margin: 0px;
  padding: 20px;
}

section + section {
  padding: 50px;
}

header {
  padding: 50px;
}

.nav-link {
  color: rgb(59, 78, 78);
}

a:hover {
  color: blueviolet;
}

a:link {
  color: rgb(73, 72, 72);
}

.prof {
  padding: 100px;
}

main > section {
  border-top: solid 3px black;
}
