* {
  box-sizing: border-box;
}

body {
  margin: 0rem;
}

h3 {
  font-family: "Koulen", cursive;
}

p {
  font-family: "Koulen", cursive;
}

section + section {
  padding: 4rem;
}

header {
  padding: 4rem;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.head {
  padding: 12rem 2rem;
  background-color: rgb(241, 233, 222);
  text-align: center;
}

.main {
  max-width: 20rem;
  margin: 0rem;
  padding: 2rem;
}

.nav-link {
  color: rgb(59, 78, 78);
}

a:hover {
  color: blueviolet;
}

a:link {
  color: rgb(73, 72, 72);
}

.prof {
  padding: 5rem;
  border-top: none;
}

.top {
  border-top: 0.1rem solid black;
}

.emoji::after {
  content: "😀";
}
.emoji::first-line {
  background-color: aqua;
  color: beige;
}

.p::first-letter {
  font-size: 5rem;
}

.d1 {
  display: inline;
  float: left;
}

.d2 {
  display: inline;
  float: right;
}

.l1 {
  position: relative;
  left: -2rem;
}

button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: aqua;
}
